* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 200vh;
    overflow-x: hidden;
    background: black;
    font-family: sans-serif;
}

#scroll-layer {
    width: 100vw;
    height: 200vh;
    position: fixed;
    z-index: 1;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: black;
}

#info {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    color: PINK;
    text-align: center;
    font-size: 20px;
    font-weight: 700;

}

#info > div {
    margin:  0;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
}

